body {background-color:#FDEBD0; text-align: justify }
.colortitulo {color: #F4D03F; text-decoration: underline;font-size: xx-large}
.imagenes {text-align: center;}
.pasoscolor {color: #F4D03F; text-decoration: underline; font-size:medium; font-size:35px }
.tituloextras { color: white; text-align: center;  font-size:40px}
.tamaño { width:800px ; height:auto; align-items: center;}
