
header { background:#F1948A;
          display: flex;
          justify-content: space-around;
          align-items: center ;
          flex-wrap: wrap;
        flex-direction:row; }

body {background-color:#FDEBD0;
            text-align: justify; }

.titulo { color: white ;
          font-size: 40px;
          font-family:fantasy;cursive;}

.colortitulo {color: black;
              text-decoration: underline;
              font-family: fantasy, cursive;
              text-align:center;
              font-size:400%;
              padding: 40px;
              display: flex;
              justify-content: center;
                            }

.logo {width: 150px;   }

.redes1 {         display:table-row;
        justify-content: space-around;
        background: grey;
        flex-direction: row;
        align-items: center;
        }

.rrss { display: flex;
         justify-content: center;
       align-items: center;
     flex-direction: row;}

.audio {display: flex;
        justify-content:center;}

nav { background:#F4D03F;
       display: flex;}

.enlaces { font-size: 25px;
           font-family: sans-serif;
           text-decoration: none;
           padding: 10px;
           color: white;
           margin: 30px;
         }

.imagenes { display: flex;
  justify-content: space-between;
}

.ingredientes { justify-content: center;
                font-family: cursive;    }


section { align-items: center;
background: #F1948A }


.pasoscolor {color: #F4D03F;
             text-decoration: underline;
               font-size:medium;
                 font-size:35px }
.video { display: flex;
        justify-content: center;
      align-items: center;}

.tituloextras { background-color:#F4D03F;
                color: white;
                 text-align: center;
                 justify-content: center;
                 font-size:40px}

.tamaño { width:400px ;
            }

footer { display: flex;
          flex-grow: grow;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
        background: grey;
       width: 100%;
     height: auto;}


.iconos {width: 60px;
        display: flex;
        left: 900px;
         bottom: -95px;
         }

.redes {  display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100px;

}

.datos{ display: inline-block;
         line-height:5pt;
         font-style: oblique;
        color:#F4D03F;
        text-indent: -20em;
       }
.imagenwsp { position:fixed;
    margin-top:13px;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    border-radius:50px;
    z-index:999;}
