
@font-face { font-family: "normal";
            src: url("../fuente/verdana.tff")format("truetype");
}

@font-face { font-family: "negrita";
            src: url("../fuente/verdanab.tff") format("truetype");
}




header {background:#F1948A;
          display: flex;
          justify-content: space-around;
          align-items: center ;
          flex-wrap: wrap;
        flex-direction:row; }

body {background-color:#FDEBD0;
            text-align: justify; }

.titulo { color: white ;
          font-size: 40px;
          font-family:negrita;}

a:hover { color:#FDEBD0;   }


.colortitulo {color: black;
              text-decoration: underline;
              font-family: negrita;
              text-align:center;
              font-size:300%;
              padding: 40px;
              display: inline-flex;
              justify-content: space-between;
              align-items: center;

                            }

.logo {width: 150px;   }

.redes1 {  display:table-row;
        justify-content: space-around;
        background: grey;
        flex-direction: row;
        align-items: center;
        }

.rrss { display: flex;
         justify-content: center;
       align-items: center;
     flex-direction: row;}

.audio {display: flex;
        justify-content:center;}

nav { background:#F4D03F;
       width: 100%;
      font-family: negrita;
       display: flex;
     flex-wrap: wrap;}

.enlaces { font-size: 25px;
           font-family: sans-serif;
           text-decoration: none;
           padding: 10px;
           color: white;
           margin: 30px;
         }

.imagenes { display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ingredientes { justify-content: center;
                font-family: negrita;    }

.fuente { font-family: normal;
  color: grey;
  display: inline-block;
justify-content:center;


}
section { align-items: center;
background: #F1948A
   width: 100%;
 height: auto; }

 article { display: flex;
            justify-content: flex-start;
          align-items: baseline;}

.textos { display: flex;
          flex-wrap: wrap;
        }


.pasoscolor {color: #F4D03F;
             text-decoration: underline;
                   font-size:35px }

.video { display: flex;
        justify-content: center;
      align-items: center;}

.tituloextras { background-color:#F4D03F;
                color: white;
                 text-align: center;
                 justify-content: center;
                 font-size:40px
               font-family: normal; }

.tamaño { width:400px ;
            }


.card { padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #F4D03F;
 }
footer { display: flex;
          flex-grow: grow;
          justify-content: space-between;
          flex-direction: row;
        background: grey;
       width: 100%;
     height: 20%;}


.iconos {width: 60px;
        display: flex;
        left: 900px;
         bottom: -95px;
         }

.redes {  display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100px;

}

.datos{ display: inline-block;
  flex-grow: grow;
         line-height:5pt;
         font-style: oblique;
        color:#F4D03F;
        text-indent: -20em;
       }
.imagenwsp { position:fixed;
    margin-top:13px;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    border-radius:50px;
    z-index:999;}


/* mobile*/
@media (max-width:700px)
{

    nav { background-color: green;
          font-family: sans-serif;
          font-size: 10px; }

          .aguayo { height: auto;
          width:  100% ;}

  }

/* tablet */
@media (max-width: 900px) {
 body { font-size: 12px
        }

section { background-color: yellow;
          font-style: italic;}

   }

/* pc escritorio*/
     @media (min-width: 960px) {
       body { font-size: 16px;}

.aguayo { display: none; }



                 }
